

<!-- ########## category left side ##### -->
  <div class="row">
    <div class="large-12 columns">
      <!-- cat image: -->
      <%= image_tag "#{@cat.name}.jpg" %>
      <div class="hide-for-small panel">
        <h3><%= @cat.name %></h3>
        <h5 class="subheader"></h5>
      </div>
      <a href="#"><div class="panel callout radius"><h6><%= "Take a look at the #{@cat_products.sample.name}" %></h6></div></a>
    </div>
  </div>

<!-- #### cat_products  -->

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="small-block-grid-5">
      <% @cat_products.each do |prod| %>
          <li>
            <%= link_to image_tag(prod.photo_url, :title => prod.name, :alt => prod.name), product_path(prod), method: :get %>
            <h5 class="subheader"><%=prod.name%></h5>
            <h6 class="subheader"><%= number_to_currency(prod.unit_price)%></h6>
          </li>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="index-photo">
  <% @cat_products.each do |prod| %>
    <%= link_to image_tag(prod.photo_url, :title => prod.name, :alt => prod.name), product_path(prod), method: :get %>
  <% end %>
</div> -->
