<!-- <h3>Products by <%#= @merchant_products.first.user.name %></h3>
<div class="index-photo">
  <%# @merchant_products.each do |prod| %>
    <%#= link_to image_tag(prod.photo_url, :title => prod.name, :alt => prod.name), product_path(prod), method: :get %>
  <%# end %>
</div> -->



<!-- ########## category left side ##### -->
  <div class="row">
    <div class="large-12 columns">
      <!-- merchant logo: -->
      <%= image_tag "besty_merchant_logo.png" %>
      <div class="hide-for-small panel">
        <h3><%= @user_for_products.name %></h3>
        <h5 class="subheader"><%= @products_intro%></h5>
      </div>
     <!-- <a href="#">--><div class="panel callout radius"><h6>
        <%= @most_pop %><% if @is_my_page %>. <%= link_to "Add a product", "/products/new"%>
        <% end %>
      </h6></div><!--</a>-->
    </div>

  </div>

<!-- #### merchant_products  -->

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="small-block-grid-5">
      <% @merchant_products.each do |prod| %>
          <li>
            <%= link_to image_tag(prod.photo_url, :title => prod.name, :alt => prod.name), product_path(prod), method: :get %>
            <h5 class="subheader"><%=prod.name%></h5>
            <h6 class="subheader">$<%= prod.unit_price%></h6>
          </li>
      <% end %>
        </div>
      </div>
    </div>
  </div>
  Business graphic by <a href="http://www.flaticon.com/authors/freepik">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
</div>
