<h2>Thank you for your purchase!</h2>

<p>Name: <%= @mytransaction.client_name %></p>
<p>Email: <%= @mytransaction.client_email %></p>
<p>Address: <%= @mytransaction.client_address %></p>
<p>Last four digits of credit card: ...<%= @mytransaction.client_cc_num %></p>
<p>Credit card expiration: <%= @mytransaction.client_cc_exp %></p>

<h4>Here are your purchased items:</h4>

<p>insert products from order here</p>
