<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "Besty", index_path %></h1>
    <p>The best things come in pairs.</p>
  <% if session[:user_id] == nil %>
    <%= link_to "log in via github", "/auth/github" %>
    <%= link_to "register via github", "/users/new" %>
  <% else %>
    <%= link_to "logout", sessions_destroy_path,:method => :delete %>
                      <!--if you do "sessions/destroy" here you will get a routing error in any page other than the homepage-->
    <%= link_to "My Account", "/users/logged_in_index" %>
  <% end %>
</header>

<%= yield %>

</body>
</html>
