<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <% if session[:user_id] == nil %>
  <%= link_to "log in via github", "/auth/github" %>
  <%= link_to "register via github", "/users/new" %>
  <% else %>
  <%= link_to "logout", 'sessions/destroy' %>
  <% end %>
</header>

<%= yield %>

</body>
</html>
